<!DOCTYPE html>
<html ng-app="CM_system">
  <head>
    <title><%= title %></title>
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />

  </head>
  <body ng-controller="CMCtrl">
    <header>
      <p>{{ title }}</p>
    </header>
    <section>
      <%-body -%>
    </section>
    <footer>
      Copyright &copy; Leslie Ducray, Contingency management system, 2013
    </footer>

    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script src="http://code.angularjs.org/1.1.5/angular.min.js"></script>
    
  </body>
</html>